SCHEMATIC START ;
// created by map version G.38 on Sun Feb 06 00:19:52 2005 
NET "camclkin_BUFGP/IBUFG" BEL "camclkin_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "tx_clk_BUFGP/IBUFG" BEL "tx_clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
NET "rx_clk_BUFGP/IBUFG" BEL "rx_clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT ;
SCHEMATIC END ;
