(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2005 2 12 15 32 0)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 6.3.03i; Cores Update # 4"))))
   (comment "                                                                                
      This file is owned and controlled by Xilinx and must be used              
      solely for design, simulation, implementation and creation of             
      design files limited to Xilinx devices or technologies. Use               
      with non-Xilinx devices or technologies is expressly prohibited           
      and immediately terminates your license.                                  
                                                                                
      XILINX IS PROVIDING THIS DESIGN, CODE, OR INFORMATION 'AS IS'             
      SOLELY FOR USE IN DEVELOPING PROGRAMS AND SOLUTIONS FOR                   
      XILINX DEVICES.  BY PROVIDING THIS DESIGN, CODE, OR INFORMATION           
      AS ONE POSSIBLE IMPLEMENTATION OF THIS FEATURE, APPLICATION               
      OR STANDARD, XILINX IS MAKING NO REPRESENTATION THAT THIS                 
      IMPLEMENTATION IS FREE FROM ANY CLAIMS OF INFRINGEMENT,                   
      AND YOU ARE RESPONSIBLE FOR OBTAINING ANY RIGHTS YOU MAY REQUIRE          
      FOR YOUR IMPLEMENTATION.  XILINX EXPRESSLY DISCLAIMS ANY                  
      WARRANTY WHATSOEVER WITH RESPECT TO THE ADEQUACY OF THE                   
      IMPLEMENTATION, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OR            
      REPRESENTATIONS THAT THIS IMPLEMENTATION IS FREE FROM CLAIMS OF           
      INFRINGEMENT, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS           
      FOR A PARTICULAR PURPOSE.                                                 
                                                                                
      Xilinx products are not intended for use in life support                  
      appliances, devices, or systems. Use in such applications are             
      expressly prohibited.                                                     
                                                                                
      (c) Copyright 1995-2004 Xilinx, Inc.                                      
      All rights reserved.                                                      
                                                                                
   ")
   (comment "Core parameters: ")
       (comment "c_wr_response_latency = 1 ")
       (comment "c_has_rd_data_count = 0 ")
       (comment "c_din_width = 9 ")
       (comment "c_has_wr_data_count = 1 ")
       (comment "InstanceName = reallybigfifo ")
       (comment "c_implementation_type = 2 ")
       (comment "c_family = virtex2p ")
       (comment "c_has_wr_rst = 0 ")
       (comment "c_underflow_low = 0 ")
       (comment "c_has_meminit_file = 0 ")
       (comment "c_has_overflow = 0 ")
       (comment "c_preload_latency = 1 ")
       (comment "c_dout_width = 9 ")
       (comment "c_rd_depth = 262144 ")
       (comment "c_default_value = BlankString ")
       (comment "c_mif_file_name = BlankString ")
       (comment "c_has_underflow = 0 ")
       (comment "c_has_almost_full = 0 ")
       (comment "c_has_rd_rst = 0 ")
       (comment "c_has_rst = 1 ")
       (comment "c_data_count_width = 2 ")
       (comment "c_has_wr_ack = 0 ")
       (comment "c_wr_ack_low = 0 ")
       (comment "c_common_clock = 0 ")
       (comment "c_rd_pntr_width = 18 ")
       (comment "c_has_almost_empty = 0 ")
       (comment "c_rd_data_count_width = 2 ")
       (comment "c_enable_rlocs = 0 ")
       (comment "c_wr_pntr_width = 18 ")
       (comment "c_overflow_low = 0 ")
       (comment "c_optimization_mode = 0 ")
       (comment "c_prog_empty_type = 0 ")
       (comment "c_wr_data_count_width = 17 ")
       (comment "c_preload_regs = 0 ")
       (comment "c_dout_rst_val = 0 ")
       (comment "c_has_data_count = 0 ")
       (comment "c_prog_full_thresh_negate_val = 768 ")
       (comment "c_wr_depth = 262144 ")
       (comment "c_prog_empty_thresh_negate_val = 256 ")
       (comment "c_init_wr_pntr_val = 0 ")
       (comment "c_prog_empty_thresh_assert_val = 256 ")
       (comment "c_has_valid = 0 ")
       (comment "c_prog_full_thresh_assert_val = 768 ")
       (comment "c_has_backup = 0 ")
       (comment "c_valid_low = 0 ")
       (comment "c_prim_fifo_type = 2048 ")
       (comment "c_count_type = 0 ")
       (comment "c_prog_full_type = 0 ")
       (comment "c_memory_type = 1 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
   )
   (external reallybigfifo_fifo_generator_v2_0_as_1_lib (edifLevel 0)
       (technology (numberDefinition))
       (cell reallybigfifo_fifo_generator_v2_0_as_1 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port wr_clk (direction INPUT))
                   (port rd_clk (direction INPUT))
                   (port rst (direction INPUT))
                   (port ( array ( rename din "din[8:0]") 9 ) (direction INPUT))
                   (port wr_en (direction INPUT))
                   (port rd_en (direction INPUT))
                   (port ( array ( rename prog_full_thresh "prog_full_thresh[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_assert "prog_full_thresh_assert[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename prog_full_thresh_negate "prog_full_thresh_negate[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh "prog_empty_thresh[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_assert "prog_empty_thresh_assert[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename prog_empty_thresh_negate "prog_empty_thresh_negate[17:0]") 18 ) (direction INPUT))
                   (port ( array ( rename dout "dout[8:0]") 9 ) (direction OUTPUT))
                   (port full (direction OUTPUT))
                   (port almost_full (direction OUTPUT))
                   (port wr_ack (direction OUTPUT))
                   (port overflow (direction OUTPUT))
                   (port empty (direction OUTPUT))
                   (port almost_empty (direction OUTPUT))
                   (port valid (direction OUTPUT))
                   (port underflow (direction OUTPUT))
                   (port ( array ( rename rd_data_count "rd_data_count[1:0]") 2 ) (direction OUTPUT))
                   (port ( array ( rename wr_data_count "wr_data_count[16:0]") 17 ) (direction OUTPUT))
                   (port prog_full (direction OUTPUT))
                   (port prog_empty (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr "debug_wr_pntr[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr "debug_rd_pntr[17:0]") 18 ) (direction OUTPUT))
                   (port debug_ram_wr_en (direction OUTPUT))
                   (port debug_ram_rd_en (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_w "debug_wr_pntr_w[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_plus1_w "debug_wr_pntr_plus1_w[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_plus2_w "debug_wr_pntr_plus2_w[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_wr_pntr_r "debug_wr_pntr_r[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_r "debug_rd_pntr_r[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_plus1_r "debug_rd_pntr_plus1_r[17:0]") 18 ) (direction OUTPUT))
                   (port ( array ( rename debug_rd_pntr_w "debug_rd_pntr_w[17:0]") 18 ) (direction OUTPUT))
                   (port debug_ram_empty (direction OUTPUT))
                   (port debug_ram_full (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell reallybigfifo
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( array ( rename din "din[8:0]") 9 ) (direction INPUT))
   (port ( rename rd_clk "rd_clk") (direction INPUT))
   (port ( rename rd_en "rd_en") (direction INPUT))
   (port ( rename rst "rst") (direction INPUT))
   (port ( rename wr_clk "wr_clk") (direction INPUT))
   (port ( rename wr_en "wr_en") (direction INPUT))
   (port ( array ( rename dout "dout[8:0]") 9 ) (direction OUTPUT))
   (port ( rename empty "empty") (direction OUTPUT))
   (port ( rename full "full") (direction OUTPUT))
   (port ( array ( rename wr_data_count "wr_data_count[16:0]") 17 ) (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU2
      (viewRef view_1 (cellRef reallybigfifo_fifo_generator_v2_0_as_1 (libraryRef reallybigfifo_fifo_generator_v2_0_as_1_lib)))
   )
   (net (rename N171 "din[8]")
    (joined
      (portRef (member din 0))
      (portRef (member din 0) (instanceRef BU2))
    )
   )
   (net (rename N172 "din[7]")
    (joined
      (portRef (member din 1))
      (portRef (member din 1) (instanceRef BU2))
    )
   )
   (net (rename N173 "din[6]")
    (joined
      (portRef (member din 2))
      (portRef (member din 2) (instanceRef BU2))
    )
   )
   (net (rename N174 "din[5]")
    (joined
      (portRef (member din 3))
      (portRef (member din 3) (instanceRef BU2))
    )
   )
   (net (rename N175 "din[4]")
    (joined
      (portRef (member din 4))
      (portRef (member din 4) (instanceRef BU2))
    )
   )
   (net (rename N176 "din[3]")
    (joined
      (portRef (member din 5))
      (portRef (member din 5) (instanceRef BU2))
    )
   )
   (net (rename N177 "din[2]")
    (joined
      (portRef (member din 6))
      (portRef (member din 6) (instanceRef BU2))
    )
   )
   (net (rename N178 "din[1]")
    (joined
      (portRef (member din 7))
      (portRef (member din 7) (instanceRef BU2))
    )
   )
   (net (rename N179 "din[0]")
    (joined
      (portRef (member din 8))
      (portRef (member din 8) (instanceRef BU2))
    )
   )
   (net (rename N288 "rd_clk")
    (joined
      (portRef rd_clk)
      (portRef rd_clk (instanceRef BU2))
    )
   )
   (net (rename N289 "rd_en")
    (joined
      (portRef rd_en)
      (portRef rd_en (instanceRef BU2))
    )
   )
   (net (rename N291 "rst")
    (joined
      (portRef rst)
      (portRef rst (instanceRef BU2))
    )
   )
   (net (rename N292 "wr_clk")
    (joined
      (portRef wr_clk)
      (portRef wr_clk (instanceRef BU2))
    )
   )
   (net (rename N293 "wr_en")
    (joined
      (portRef wr_en)
      (portRef wr_en (instanceRef BU2))
    )
   )
   (net (rename N299 "dout[8]")
    (joined
      (portRef (member dout 0))
      (portRef (member dout 0) (instanceRef BU2))
    )
   )
   (net (rename N300 "dout[7]")
    (joined
      (portRef (member dout 1))
      (portRef (member dout 1) (instanceRef BU2))
    )
   )
   (net (rename N301 "dout[6]")
    (joined
      (portRef (member dout 2))
      (portRef (member dout 2) (instanceRef BU2))
    )
   )
   (net (rename N302 "dout[5]")
    (joined
      (portRef (member dout 3))
      (portRef (member dout 3) (instanceRef BU2))
    )
   )
   (net (rename N303 "dout[4]")
    (joined
      (portRef (member dout 4))
      (portRef (member dout 4) (instanceRef BU2))
    )
   )
   (net (rename N304 "dout[3]")
    (joined
      (portRef (member dout 5))
      (portRef (member dout 5) (instanceRef BU2))
    )
   )
   (net (rename N305 "dout[2]")
    (joined
      (portRef (member dout 6))
      (portRef (member dout 6) (instanceRef BU2))
    )
   )
   (net (rename N306 "dout[1]")
    (joined
      (portRef (member dout 7))
      (portRef (member dout 7) (instanceRef BU2))
    )
   )
   (net (rename N307 "dout[0]")
    (joined
      (portRef (member dout 8))
      (portRef (member dout 8) (instanceRef BU2))
    )
   )
   (net (rename N308 "empty")
    (joined
      (portRef empty)
      (portRef empty (instanceRef BU2))
    )
   )
   (net (rename N309 "full")
    (joined
      (portRef full)
      (portRef full (instanceRef BU2))
    )
   )
   (net (rename N318 "wr_data_count[16]")
    (joined
      (portRef (member wr_data_count 0))
      (portRef (member wr_data_count 0) (instanceRef BU2))
    )
   )
   (net (rename N319 "wr_data_count[15]")
    (joined
      (portRef (member wr_data_count 1))
      (portRef (member wr_data_count 1) (instanceRef BU2))
    )
   )
   (net (rename N320 "wr_data_count[14]")
    (joined
      (portRef (member wr_data_count 2))
      (portRef (member wr_data_count 2) (instanceRef BU2))
    )
   )
   (net (rename N321 "wr_data_count[13]")
    (joined
      (portRef (member wr_data_count 3))
      (portRef (member wr_data_count 3) (instanceRef BU2))
    )
   )
   (net (rename N322 "wr_data_count[12]")
    (joined
      (portRef (member wr_data_count 4))
      (portRef (member wr_data_count 4) (instanceRef BU2))
    )
   )
   (net (rename N323 "wr_data_count[11]")
    (joined
      (portRef (member wr_data_count 5))
      (portRef (member wr_data_count 5) (instanceRef BU2))
    )
   )
   (net (rename N324 "wr_data_count[10]")
    (joined
      (portRef (member wr_data_count 6))
      (portRef (member wr_data_count 6) (instanceRef BU2))
    )
   )
   (net (rename N325 "wr_data_count[9]")
    (joined
      (portRef (member wr_data_count 7))
      (portRef (member wr_data_count 7) (instanceRef BU2))
    )
   )
   (net (rename N326 "wr_data_count[8]")
    (joined
      (portRef (member wr_data_count 8))
      (portRef (member wr_data_count 8) (instanceRef BU2))
    )
   )
   (net (rename N327 "wr_data_count[7]")
    (joined
      (portRef (member wr_data_count 9))
      (portRef (member wr_data_count 9) (instanceRef BU2))
    )
   )
   (net (rename N328 "wr_data_count[6]")
    (joined
      (portRef (member wr_data_count 10))
      (portRef (member wr_data_count 10) (instanceRef BU2))
    )
   )
   (net (rename N329 "wr_data_count[5]")
    (joined
      (portRef (member wr_data_count 11))
      (portRef (member wr_data_count 11) (instanceRef BU2))
    )
   )
   (net (rename N330 "wr_data_count[4]")
    (joined
      (portRef (member wr_data_count 12))
      (portRef (member wr_data_count 12) (instanceRef BU2))
    )
   )
   (net (rename N331 "wr_data_count[3]")
    (joined
      (portRef (member wr_data_count 13))
      (portRef (member wr_data_count 13) (instanceRef BU2))
    )
   )
   (net (rename N332 "wr_data_count[2]")
    (joined
      (portRef (member wr_data_count 14))
      (portRef (member wr_data_count 14) (instanceRef BU2))
    )
   )
   (net (rename N333 "wr_data_count[1]")
    (joined
      (portRef (member wr_data_count 15))
      (portRef (member wr_data_count 15) (instanceRef BU2))
    )
   )
   (net (rename N334 "wr_data_count[0]")
    (joined
      (portRef (member wr_data_count 16))
      (portRef (member wr_data_count 16) (instanceRef BU2))
    )
   )
))))
(design reallybigfifo (cellRef reallybigfifo (libraryRef test_lib))
  (property X_CORE_INFO (string "fifo_generator_v2_0, Coregen 6.3.03i_ip4"))
  (property PART (string "XC2VP20-6-ff896") (owner "Xilinx")))
)
